/* app css stylesheet */

.menuSelect {
  background-color: hotpink !important;
}

#menu:hover {
background-color: darkmagenta !important;
}

#menu:hover,#menu:focus,#menu {
  cursor: pointer;
}
#menu {
  margin-top: 10px;
  background-color: #ffff00;
}

#dropDownMenu li {
  background-color: #00b3ee !important;
  font-size: large;
  font-weight: 900;
  font-family: Calibri;
}

#dropDownMenu li:hover {
  background-color: #0081c2;
}
/*.menuItem {
  list-style-type: none;.
  cursor:pointer;
  display: block;
}
.menuItem:hover {
  background-color: orangered;
}*/

